<?- include('../partials/header') -?>
<div class="container">
    <p>403 Forbidden</p>
    <h1><?= message ?></h1>
    <h2><?= error.status ?></h2>
    <pre><?= error.stack ?></pre>
</div>
<?- include('../partials/footer') -?>
